<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <!-- Tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>

    {% load crispy_forms_tags %}

</head>
<body class="bg-gradient-to-br from-gray-900 via-gray-800 to-gray-900 text-white min-h-screen">

    <!-- Navbar -->
    <nav class="w-full px-8 py-4 flex justify-between items-centers">
        <h1 class="text-2xl font-extrabold tracking-wide">
            Info<span class="text-blue-500">Help</span>
        </h1>

        <div class="space-x-4">
                <a href="{% url 'index' %}"
                   class="px-4 py-2 bg-red-600 hover:bg-red-700 rounded-lg transition font-semibold">
                   Sair
                </a>
        </div>
    </nav>

    <!-- Conteúdo -->
    <main class="flex justify-center items-center min-h-[85vh] px-4">
        {% block content %}{% endblock %}
    </main>

</body>
</html>
